Makefile
aclocal.m4
autom4te.cache
common/include/config.h
common/include/lib.mak
config.log
config.status
configure
defs.mak
*.d
*.o
*~
*.pc
*.a
*.so
*.so.*
lswm/lswm
python/build/
wmdemo/wmdemo
wmgui/wmgui
wminput/lexer.c
wminput/parser.c
wminput/wminput
wminput/y.tab.h
wminput/action_enum.c
